<div class="container text-center">
  <div class="home">
      <%= link_to 'Login', new_user_session_path, class: "btn btn-purple" %>
      <br>
      <%= link_to 'Cadastrar-se como Médico', new_doctor_registration_path, class: "sign-link"%>
      <br>
      <%= link_to 'Cadastrar-se como Paciente', new_patient_registration_path, class: "sign-link" %>
  </div>
</div>

